<h1>New Members Post</h1>

<%= form_with model: @post do |form| %>
  <div>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :body %><br>
    <%= form.text_area :body %>
  </div>
    <%= form.hidden_field :user_id %>
  <div>
    <%= form.submit %>
  </div>
  <%= current_user.id %>
<% end %>